<%= form_for(@todotask) do |f| %>
  <%= render 'shared/errors', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br />
    <%= f.datetime_select :duedate %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <%= %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
