<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @todotask.title %>
</p>

<p>
  <b>Duedate:</b>
  <%= @todotask.duedate %>
</p>

<p>
  <b>Description:</b>
  <%= @todotask.description %>
</p>


<%= link_to 'Edit', edit_todotask_path(@todotask) %> |
<%= link_to 'Back', todotasks_path %>
